.meal-container{
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.top-button{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-back{
    background: #2bb3b1;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-back:hover{
    background: #1f8f8d;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-logout{
    background: #ff5c8a;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

}

.btn-logout:hover{
    background: #ff3f74;
}

.search-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-section input{
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-search{
    background: #4caf50;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-search:hover{
    background: #43a047;
}

.meal-subtitle{
    margin: 15px 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.meal-list{
    max-height: 200px;
    overflow-y: auto;
    padding-right: 5px;
    margin-bottom: 20px;
}

.meal-card{
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    font-weight: 600;
}

.btn-add{
    background: #4caf50;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    font-size: 1.1rem;
}

.btn-add:hover{
    background: #43a047;
}